<section>
  <div class="container">
    <div class="row mb-5 pb-2">
      <div class="col-md-12 heading-section ftco-animate">
        <h2 class="mb-4">Empresas con  las que he tenido el privilegio de trabajar:</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <img src="/assets/img/client1.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <img src="/assets/img/client2.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <img src="/assets/img/client3.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <img src="/assets/img/client4.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <img src="/assets/img/client5.jpg" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>