<div class="container">
  <div class="row d-flex justify-content-around ftco-animate">
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="fab fa-skype fa-2x"></i></div>
        <div class="text media-body">
          <p>Las sesiones son  por Skype y funcionan como si fueran presenciales.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="far fa-clock fa-2x"></i></div>
        <div class="text media-body">
          <p>Cada sesión tiene una duración de 45min.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="far fa-share-square fa-2x"></i></div>
        <div class="text media-body">
          <p>Se sugieren por lo menos 10 sesiones para verificar avances.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="far fa-chart-bar fa-2x"></i></div>
        <div class="text media-body">
          <p>La ventaja competitiva de este  trabajo es  la excelente  calidad a un precio alcanzable.</p>
        </div>
      </div>
    </div>
  </div>
</div>