<div class="container mt-5">
  <div class="row d-flex justify-content-around ftco-animate">
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fas fa-suitcase fa-2x"></i></div>
        <div class="text media-body">
          <h3>Migratorio</h3>
          <p>Piensas migrar y estás en la duda o ya lo hiciste y necesitas adaptarte</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fas fa-thumbs-up fa-2x"></i></div>
        <div class="text media-body">
          <h3>De Vida</h3>
          <p>La vida es un viaje. Tiene sus cambios, sus retos y desafíos</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fas fa-sitemap fa-2x"></i></div>
        <div class="text media-body">
          <h3>Ejecutivo</h3>
          <p>Un paso más allá en tu carrera</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="services text-center">
        <div class="icon mt-2 d-flex justify-content-center align-items-center"><i class="fas fa-graduation-cap fa-2x"></i></div>
        <div class="text media-body">
          <h3>Académico</h3>
          <p>Dificultades en el estudio. Cierre de brechas para alcanzar los hábitos y técnicas efectivas.</p>
        </div>
      </div>
    </div>
  </div>
</div>