<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 wrap-about align-items-stretch">
        <div class="wrap-about-border">
          <div class="img" style="background-image: url(/assets/img/sobre-mi.jpg); border"></div>
        </div>
      </div>
      <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
        <h2 class="mb-4">Conoce un poco sobre mí, tu coach</h2>
        <p>Soy María Virginia Barrós. Tengo la fortuna de haber escogido por oficio el coaching porque la actividad que más me agrada hacer en la vida es la de ayudar a otros a descubrir sus objetivos y metas, reconocer sus brechas e inquietudes, ampliar sus distinciones, indagar sobre sus soluciones y generar innovación para abordar cada una de éstas con éxito.</p>
        <p>Estoy certificada como Coach Ontológico y soy licenciada en Psicología con un Maestría en Lingüística, carreras que hacen perfecta armonía y que han permitido que desarrolle una alquimia propia para entender global y sistémicamente a mis coachees. Mi trabajo en el área se inició en el espacio corporativo con el personal ejecutivo y gerencial en empresas renombradas de los sectores: financiero, telecomunicaciones, consumo masivo y otros, y ahora se ha diversificado hacia las áreas de vida que necesite cada coachee.</p>
      </div>
    </div>
  </div>
</section>