<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6 d-flex">
        <div class="services-2 noborder-left text-center ftco-animate">
          <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="fas fa-question fa-3x"></i></div>
          <div class="text media-body">
            <h3>Patricia Michelangeli</h3>
            <p>“Ser artista no es sólo un oficio, es una forma de vida. Llegó un momento en el que tuve  claro que necesitaba ayuda para organizar mis emociones, mis ideas.Tuve la gran fortuna de llegar al consultorio de María Virginia Barrós, la calidad de cada una de las sesiones, la riqueza de sus ideas, la sensibilidad y empatía que encontré en esta gran profesional fueron determinantes para poder ordenar mis pensamientos y enfocarme en los aspectos que debía resolver para encaminar mi carrera. Sin dudas, cambió mi vida, me llevó de la mano en un proceso de profundo auto descubrimiento, aprendí a aprovechar mi sensibilidad de una forma positiva y productiva. Le estaré siempre muy agradecida.”</p>
            <p>Artista Plástica. República Dominicana</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
      <div class="services-2 text-center ftco-animate">
        <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="fas fa-question fa-3x"></i></div>
          <div class="text media-body">
            <h3>Noaín Ginzo</h3>
            <p>“María Virginia, es una persona que siempre se ha preocupado por mantener una constante formación como ser humano. Tiene cualidades incomparables. Es clara y directa. Su capacidad analítica de las situaciones desde los distintos puntos de vista posibles es maravillosa. Mantenemos a distancia (es decir por skype) sesiones de coaching, mediante las cuales las recomendaciones y los temas que hemos discutido me han ayudado a mejorar y optimizar procesos en mi empresa. Sin duda, una persona y profesional de quien nadie puede arrepentirse de conocer”</p>
            <p>Propietaria de Piso 5 Café. Panamá</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="fas fa-question fa-3x"></i></div>
          <div class="text media-body">
            <h3>Pedro Soto</h3>
            <p>“Tuve la oportunidad de recibir Coaching con María Virginia en el 2014, experiencia que valoro considerablemente, me ayudó a reformar la claridad del mensaje con mi equipo de trabajo, la alineación y la comunicación efectiva.”</p>
            <p>Telefónica</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex">
        <div class="services-2 text-center ftco-animate">
          <div class="icon my-2 d-flex justify-content-center align-items-center"><i class="fas fa-question fa-3x"></i></div>
          <div class="text media-body">
            <h3>Domingo Vargas</h3>
            <p>“María Virginia es una persona muy centrada, altamente eficiente y con un alto grado de empatía. Su desempeño como Coach ejecutivo es excelente y es el tipo de profesional que no dudaría en recomendar para el manejo de situaciones complejas de transformación organizacional, tal como fusiones, adquisiciones, etc.”</p>
            <p>Vicepresidente Ejecutivo de Tecnología de Información at Consorcio Credicard</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>